version: "3.9"

services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  client:
    build: ./vyom-club
    ports:
      - "5173:80"
    depends_on:
      - server
